//// There styles need the !imporant tag in order to override the SimpleBar plugin defaults

.simplebar-scrollbar:before {
    background-color:rgb(170, 170, 170);
    height: 6px !important;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 1 !important;
  transition-delay: .3s !important;
  transition-duration: .3s !important;
}

.simplebar-hover .simplebar-scrollbar:before{
    background-color: rgb(136, 136, 136);
}

